.text-field.error {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
            from 0px .75em to .75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}

#progressStatus {
    -fx-text-fill: crimson;
}