.text-field.error {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
            from 0px .75em to .75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}

#progressStatus {
    -fx-text-fill: crimson;
}

.button {
    -fx-border-radius: 4px;
}

.button.primary {
    -fx-text-fill: #fff;
    -fx-background-color: #337ab7;
    -fx-border-color: #2e6da4;
}

.button.danger {
    -fx-text-fill: #fff;
    -fx-background-color: #d9534f;
    -fx-border-color: #d43f3a;
}